@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: TypingAnimation 1.8s infinite ease-in-out;
  background-color: white;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes TypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: white;
  }

  28% {
    transform: translateY(-7px);
    background-color: white;
  }

  44% {
    transform: translateY(0px);
    background-color: white;
  }
}

.container {
  height: 550px;
  width: 700px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: white;
  border-radius: 20px;
}

.left {
  background-color: white;
  height: 100%;
  width: 200px;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 2px solid #707070;
  border-top: 2px solid #707070;
  border-bottom: 2px solid #707070;
}

.right {
  background-color: #F0F0F0;
  height: 100%;
  width: 500px;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px #707070 solid;
}

.top {
  width: 100%;
  height: 50px;
  border-top-left-radius: 8px;
  background-color: #CCCCCC;
  border-bottom: 2px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot {
  width: 100%;
  max-height: 494px;
  overflow-y: scroll;
}

.bot::-webkit-scrollbar{
  display: none;
}

.left-bot-menu{
  padding: 0.4rem 0;
  color:#707070;
}

.left-bot-menu li{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.7rem;
  cursor: pointer;
  background:transparent;
  border-right: 3px solid transparent;
}

.left-bot-menu li:hover{
  background:rgba(0,0,0,0.06) ;
}

.left-bot-menu li.active{
  border-right: 3px solid #6EDFA3;
}

.left-bot-menu span{
  position:relative;
  transform: scale(1.2);
  right:-5%;
  top:50%;
}

/* Modifier Profil */

.profile-settings{
  width:100%;
  height:100%;
  padding:2rem;
  overflow-y: scroll;
}


.profile-settings .avatar-ctn{
  max-height: 20%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-settings .avatar-ctn img{
  max-width: 15%;
}

.profile-settings button{
  background-color: #62BE93;
  padding: 0.4rem 1rem;
  color:white;
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top:0.8rem;
}

.profile-settings .nom-ctn, .profile-settings .description-ctn, .profile-settings .password-ctn{
  margin-top: 2.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}         

.profile-settings input{
  background-color: white;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.closeAvatar{
  position: absolute;
  top: 30px;
  right:30px;
  width: 30px;
  height:30px;
  cursor: pointer;
}

.crossPart{
  width: 5px;
  height: 30px;
  background-color: white;
}

.tilt-left, .tilt-right{
  position: absolute;
}

.tilt-right{
  transform: rotate(45deg);
}

.tilt-left{
  transform: rotate(-45deg);
}

.chooseAvatar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.chooseAvatar.show{
  opacity: 1;
  pointer-events: all;
}

.chooseAvatar h1{
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.avatar-lign{
  width: 40vw;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.avatar-lign img{
  cursor: pointer;
  width: 100px;
  height: 100px;
}